.todo{
    width:90%;
    box-sizing: border-box;
    background-color: lightpink;
    padding: .25em; 
    border-radius:.7em; 
    margin:1em; 
}

.todo h3{
    margin: 0px;

}

.todo p{
    margin:0px; 
}

.completed{
    opacity:50%; 
    background-color:lightgreen; 
    text-decoration: line-through;
    box-sizing: border-box;
    width:90%;
    border-radius: 1em;
    margin:1em;
    padding:.25em;
}

body{
    text-align: center; 
    background-color: lightblue;
}

#incomplete-items{
    margin-top:50px;
    border: 1px solid black;
    width:300px;
    height:550px;
    border-radius: 1em;
    float:left;
    background-color: white;
}

#complete-items{
    border: 1px solid black;
    width:300px;
    height:550px;
    border-radius: 1em;
    float:right;
    background-color: white;
    margin-top:50px;
}

#header{
    border: 1px solid black;
    border-radius:1em;
    background-color: whitesmoke;
}

#title{
    margin-left:27px;
}








